### Early mandates and reporting
- Review of 4 mandates that were implemented in the 8 countries selected for this data analysis. 
- Identify the date that each mandate was implemented

In [46]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read CSV file 
data = pd.read_csv("oxford_clean.csv")

In [47]:
# Create DataFrame 
mandates = pd.DataFrame(data, columns = ["CountryName", "Date", "C1_School_closing", "C2_Workplace_closing", \
                                         "C6_Stay_home_requirements", "H6_Facial_coverings", "ConfirmedCases", "ConfirmedDeaths"])

# Rename columns
mandates.columns = ["Country_name", "Date", "School_closing", "Workplace_closing", "Stay_home", "Facial_coverings", "Confirmed_cases", "Confirmed_deaths"]

# Change the value of columns from float to integer
mandates = mandates.astype({'School_closing': 'int', 'Workplace_closing': 'int', 'Stay_home': 'int', \
                            'Facial_coverings': 'int', 'Confirmed_cases': 'int', 'Confirmed_deaths': 'int'}) 

# Format 'Date' from YYYYMMDD to DD/MM/YYYY
mandates['Date'] = pd.to_datetime(mandates['Date'], format='%Y%m%d')

mandates.dropna()

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
0,Brazil,2020-01-01,0,0,0,0,0,0
1,Brazil,2020-01-02,0,0,0,0,0,0
2,Brazil,2020-01-03,0,0,0,0,0,0
3,Brazil,2020-01-04,0,0,0,0,0,0
4,Brazil,2020-01-05,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
2405,United States,2020-10-21,3,2,2,4,8273304,221066
2406,United States,2020-10-22,3,2,2,4,8336282,222201
2407,United States,2020-10-23,3,2,2,4,8408340,223042
2408,United States,2020-10-24,3,2,2,4,8493669,223995
2409,United States,2020-10-25,3,2,2,4,8576725,224899

### Leyend for Table Above

###### School Closing Code
- 0: No measures 
- 1: Recommend closing
- 2: Require closing (only some levels)
- 3: Require closing ALL levels 
---
###### Workplace Closing Code
- 0: No measures 
- 1: Recommend closing
- 2: Require closing (only some levels)
- 3: Require closing ALL levels 
---
###### Stay at Home Requirements
- 0: No measures 
- 1: Recommend closing
- 2: Require closing (only some levels)
- 3: Require closing ALL levels 
---
###### Facial Coverings
- 0: No measures 
- 1: Recommend 
- 2: Required in some specified shared/public spaces outside the home with other people present, or some situations when social distancing not possible
- 3: Required in all shared/public spaces outside the home with other people present or all situations when social distancing not possible
- 4: Required outside the home at all times regardless of location or presence of other people
-------

### Confirmed Cases and Deaths

###### Date Confirmed First Cases Reported 
- Note: CSV file collects data as of 01/01/2020. China was reporting cases of COVID-19 in December 2019.

In [48]:
#Drop the rows Confirmed Cases is 0 
cases = mandates[mandates['Confirmed_cases'] > 0]

# For Loop 
reported_case = [] 

for country in cases['Country_name'].unique():
    country_df = cases[cases['Country_name'] == country]
    reported_case.append(country_df[country_df['Date'] == country_df['Date'].min()])
    
pd.concat(reported_case)

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
56,Brazil,2020-02-26,0,0,0,0,1,0
302,China,2020-01-01,0,0,0,1,27,0
636,United Kingdom,2020-02-01,0,0,0,0,2,0
941,Italy,2020-01-31,0,0,0,0,3,0
1221,Japan,2020-01-15,0,0,0,0,1,0
1572,New Zealand,2020-02-28,0,0,0,0,1,0
1842,Sweden,2020-02-01,0,0,0,0,1,0
2132,United States,2020-01-21,0,0,0,0,1,0

In [49]:
# Save data to a csv file
mandates.to_csv("date_first_case.csv", index=False)

###### Date Confirmed Deaths First Reported
- Note: CSV file collects data as of 01/01/2020. China was reporting cases of COVID-19 in December 2019.

In [50]:
#Drop the rows ConfirmedDeaths is 0 
deaths = mandates[mandates['Confirmed_deaths'] > 0]

# For Loop 
reported_death = [] 

for country in deaths['Country_name'].unique():
    country_df = deaths[deaths['Country_name'] == country]
    reported_death.append(country_df[country_df['Date'] == country_df['Date'].min()])
  
pd.concat(reported_death)

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
77,Brazil,2020-03-18,3,3,1,1,291,1
312,China,2020-01-11,0,0,0,1,59,1
671,United Kingdom,2020-03-07,0,0,0,0,271,1
964,Italy,2020-02-23,3,3,2,0,79,2
1250,Japan,2020-02-13,0,0,0,0,29,1
1593,New Zealand,2020-03-29,3,3,2,0,476,1
1882,Sweden,2020-03-12,0,0,0,0,620,10
2172,United States,2020-03-01,0,0,0,0,69,1

In [51]:
# Save data to a csv file
mandates.to_csv("date_reported_deaths.csv", index=False)

### Mandates Implementation

###### Date School Closing Mandates Implemented 
- 0: No measures 
- 1: Recommend closing
- 2: Require closing (only some levels)
- 3: Require closing ALL levels

In [52]:
#Drop the rows School Closing is 0 
schools = mandates[mandates['School_closing'] > 0]

# For Loop 
school_closed = [] 

for country in schools['Country_name'].unique():
    country_df = schools[schools['Country_name'] == country]
    school_closed.append(country_df[country_df['Date'] == country_df['Date'].min()])
  
pd.concat(school_closed)

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
71,Brazil,2020-03-12,3,0,0,1,52,0
327,China,2020-01-26,3,3,1,3,1988,56
682,United Kingdom,2020-03-18,3,1,1,0,3658,82
964,Italy,2020-02-23,3,3,2,0,79,2
1268,Japan,2020-03-02,3,1,0,1,254,6
1585,New Zealand,2020-03-21,1,1,1,0,53,0
1888,Sweden,2020-03-18,1,0,0,0,1265,17
2176,United States,2020-03-05,3,0,0,0,159,11

In [53]:
# Save data to a csv file
mandates.to_csv("date_school_closed.csv", index=False)

###### Date Workplace Closing Mandates Implemented 
- 0: No measures 
- 1: Recommend closing
- 2: Require closing (only some levels)
- 3: Require closing ALL levels

In [54]:
#Drop the rows Workplace Closing is 0 
work = mandates[mandates['Workplace_closing'] > 0]

# For Loop 
work_closed = [] 

for country in work['Country_name'].unique():
    country_df = work[work['Country_name'] == country]
    work_closed.append(country_df[country_df['Date'] == country_df['Date'].min()])
  
pd.concat(work_closed)

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
72,Brazil,2020-03-13,3,1,1,1,77,0
327,China,2020-01-26,3,3,1,3,1988,56
680,United Kingdom,2020-03-16,0,1,1,0,2605,43
963,Italy,2020-02-22,0,3,0,0,17,0
1262,Japan,2020-02-25,0,1,0,0,144,1
1585,New Zealand,2020-03-21,1,1,1,0,53,0
1895,Sweden,2020-03-25,1,1,0,0,2399,90
2190,United States,2020-03-19,3,3,2,0,9415,150

In [55]:
# Save data to a csv file
mandates.to_csv("date_work_closed.csv", index=False)

###### Date Stay at Home Mandates Implemented 
- 0: No measures 
- 1: Recommend closing
- 2: Require closing (only some levels)
- 3: Require closing ALL levels

In [56]:
#Drop the rows Stay at home requirements is 0 
lockdown = mandates[mandates['Stay_home'] > 0]

# For Loop 
stay_home = [] 

for country in lockdown['Country_name'].unique():
    country_df = lockdown[lockdown['Country_name'] == country]
    stay_home.append(country_df[country_df['Date'] == country_df['Date'].min()])
  
pd.concat(stay_home)

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
72,Brazil,2020-03-13,3,1,1,1,77,0
324,China,2020-01-23,0,0,1,3,623,17
677,United Kingdom,2020-03-13,0,0,1,0,1282,9
964,Italy,2020-02-23,3,3,2,0,79,2
1304,Japan,2020-04-07,3,1,1,1,3906,80
1585,New Zealand,2020-03-21,1,1,1,0,53,0
2186,United States,2020-03-15,3,0,2,0,2951,57

In [57]:
# Save data to a csv file
mandates.to_csv("date_lockdown.csv", index=False)

In [58]:
#Drop the rows Facial Coverings is 0 
facial_covering = mandates[mandates['Facial_coverings'] > 0]

# For Loop 
mask = [] 

for country in facial_covering['Country_name'].unique():
    country_df = facial_covering[facial_covering['Country_name'] == country]
    mask.append(country_df[country_df['Date'] == country_df['Date'].min()])
  
pd.concat(mask)

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
61,Brazil,2020-03-02,0,0,0,1,2,0
302,China,2020-01-01,0,0,0,1,27,0
862,United Kingdom,2020-09-14,1,2,1,3,368504,41628
1005,Italy,2020-04-04,3,3,3,4,119827,14681
1267,Japan,2020-03-01,0,1,0,1,239,5
1729,New Zealand,2020-08-12,2,3,2,1,1220,22
2217,United States,2020-04-15,3,3,2,3,609516,26057

###### Date Facial Coverings Mandates Implemented 
- 0: No measures 
- 1: Recommend 
- 2: Required in some specified shared/public spaces outside the home with other people present, or some situations when social distancing not possible
- 3: Required in all shared/public spaces outside the home with other people present or all situations when social distancing not possible
- 4: Required outside the home at all times regardless of location or presence of other people

In [59]:
# Save data to a csv file
mandates.to_csv("date_mask.csv", index=False)

In [70]:
combined_df = school_closed + work_closed + stay_home + mask + reported_case + reported_death
df = pd.concat(combined_df)
df = df.sort_index()
df.drop_duplicates()

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths
56,Brazil,2020-02-26,0,0,0,0,1,0
61,Brazil,2020-03-02,0,0,0,1,2,0
71,Brazil,2020-03-12,3,0,0,1,52,0
72,Brazil,2020-03-13,3,1,1,1,77,0
77,Brazil,2020-03-18,3,3,1,1,291,1
302,China,2020-01-01,0,0,0,1,27,0
312,China,2020-01-11,0,0,0,1,59,1
324,China,2020-01-23,0,0,1,3,623,17
327,China,2020-01-26,3,3,1,3,1988,56
636,United Kingdom,2020-02-01,0,0,0,0,2,0
671,United Kingdom,2020-03-07,0,0,0,0,271,1
677,United Kingdom,2020-03-13,0,0,1,0,1282,9
680,United Kingdom,2020-03-16,0,1,1,0,2605,43
682,United Kingdom,2020-03-18,3,1,1,0,3658,82
862,United Kingdom,2020-09-14,1,2,1,3,368504,41628
941,Italy,2020-01-31,0,0,0,0,3,0
963,Italy,2020-02-22,0,3,0,0,17,0
964,Italy,2020-02-23,3,3,2,0,79,2
1005,Italy,2020-04-04,3,3,3,4,119827,14681
1221,Japan,2020-01-15,0,0,0,0,1,0
1250,Japan,2020-02-13,0,0,0,0,29,1
1262,Japan,2020-02-25,0,1,0,0,144,1
1267,Japan,2020-03-01,0,1,0,1,239,5
1268,Japan,2020-03-02,3,1,0,1,254,6
1304,Japan,2020-04-07,3,1,1,1,3906,80
1572,New Zealand,2020-02-28,0,0,0,0,1,0
1585,New Zealand,2020-03-21,1,1,1,0,53,0
1593,New Zealand,2020-03-29,3,3,2,0,476,1
1729,New Zealand,2020-08-12,2,3,2,1,1220,22
1842,Sweden,2020-02-01,0,0,0,0,1,0
1882,Sweden,2020-03-12,0,0,0,0,620,10
1888,Sweden,2020-03-18,1,0,0,0,1265,17
1895,Sweden,2020-03-25,1,1,0,0,2399,90
2132,United States,2020-01-21,0,0,0,0,1,0
2172,United States,2020-03-01,0,0,0,0,69,1
2176,United States,2020-03-05,3,0,0,0,159,11
2186,United States,2020-03-15,3,0,2,0,2951,57
2190,United States,2020-03-19,3,3,2,0,9415,150
2217,United States,2020-04-15,3,3,2,3,609516,26057

- Facial coverings: How countries that made public declarations or mandates for a mask differ in cases
- Timeline: Country report first case til time of first mandate

In [90]:
### IDEAS

# Line plot y - confirmed cases, x - dates, color of lines measures in place (use 0-3 scale for lines)
# Country? 

### Pick USA is work_closing more highly correlated with deaths or stay_home ---- lower deaths

# Pivot 'School_closing', 'Workplace_closing', 'Stay_home', 'Facial_coverings'

In [89]:
## Verify the mandate level of Facial Coverings

# Create new column
df['Mandate_level'] = ''
# Set multiple conditions and assign reviewer category with .loc
df.loc[(df['Facial_coverings'] ==0), 'Mandate_level'] = 'No policy'
df.loc[(df['Facial_coverings'] ==1), 'Mandate_level'] = 'Recommended'
df.loc[(df['Facial_coverings'] >= 2), 'Mandate_level'] = 'Required in some specified areas'
df.loc[(df['Facial_coverings'] >= 2), 'Mandate_level'] = 'Required all the time'
df

,Country_name,Date,School_closing,Workplace_closing,Stay_home,Facial_coverings,Confirmed_cases,Confirmed_deaths,Mandate_level
56,Brazil,2020-02-26,0,0,0,0,1,0,No policy
61,Brazil,2020-03-02,0,0,0,1,2,0,Recommended
71,Brazil,2020-03-12,3,0,0,1,52,0,Recommended
72,Brazil,2020-03-13,3,1,1,1,77,0,Recommended
72,Brazil,2020-03-13,3,1,1,1,77,0,Recommended
77,Brazil,2020-03-18,3,3,1,1,291,1,Recommended
302,China,2020-01-01,0,0,0,1,27,0,Recommended
302,China,2020-01-01,0,0,0,1,27,0,Recommended
312,China,2020-01-11,0,0,0,1,59,1,Recommended
324,China,2020-01-23,0,0,1,3,623,17,Required all the time
327,China,2020-01-26,3,3,1,3,1988,56,Required all the time
327,China,2020-01-26,3,3,1,3,1988,56,Required all the time
636,United Kingdom,2020-02-01,0,0,0,0,2,0,No policy
671,United Kingdom,2020-03-07,0,0,0,0,271,1,No policy
677,United Kingdom,2020-03-13,0,0,1,0,1282,9,No policy
680,United Kingdom,2020-03-16,0,1,1,0,2605,43,No policy
682,United Kingdom,2020-03-18,3,1,1,0,3658,82,No policy
862,United Kingdom,2020-09-14,1,2,1,3,368504,41628,Required all the time
941,Italy,2020-01-31,0,0,0,0,3,0,No policy
963,Italy,2020-02-22,0,3,0,0,17,0,No policy
964,Italy,2020-02-23,3,3,2,0,79,2,No policy
964,Italy,2020-02-23,3,3,2,0,79,2,No policy
964,Italy,2020-02-23,3,3,2,0,79,2,No policy
1005,Italy,2020-04-04,3,3,3,4,119827,14681,Required all the time
1221,Japan,2020-01-15,0,0,0,0,1,0,No policy
1250,Japan,2020-02-13,0,0,0,0,29,1,No policy
1262,Japan,2020-02-25,0,1,0,0,144,1,No policy
1267,Japan,2020-03-01,0,1,0,1,239,5,Recommended
1268,Japan,2020-03-02,3,1,0,1,254,6,Recommended
1304,Japan,2020-04-07,3,1,1,1,3906,80,Recommended
1572,New Zealand,2020-02-28,0,0,0,0,1,0,No policy
1585,New Zealand,2020-03-21,1,1,1,0,53,0,No policy
1585,New Zealand,2020-03-21,1,1,1,0,53,0,No policy
1585,New Zealand,2020-03-21,1,1,1,0,53,0,No policy
1593,New Zealand,2020-03-29,3,3,2,0,476,1,No policy
1729,New Zealand,2020-08-12,2,3,2,1,1220,22,Recommended
1842,Sweden,2020-02-01,0,0,0,0,1,0,No policy
1882,Sweden,2020-03-12,0,0,0,0,620,10,No policy
1888,Sweden,2020-03-18,1,0,0,0,1265,17,No policy
1895,Sweden,2020-03-25,1,1,0,0,2399,90,No policy
2132,United States,2020-01-21,0,0,0,0,1,0,No policy
2172,United States,2020-03-01,0,0,0,0,69,1,No policy
2176,United States,2020-03-05,3,0,0,0,159,11,No policy
2186,United States,2020-03-15,3,0,2,0,2951,57,No policy
2190,United States,2020-03-19,3,3,2,0,9415,150,No policy
2217,United States,2020-04-15,3,3,2,3,609516,26057,Required all the time

Country_name                 object
Date                 datetime64[ns]
School_closing                int32
Workplace_closing             int32
Stay_home                     int32
Facial_coverings              int32
Confirmed_cases               int32
Confirmed_deaths              int32
Mandate_level                object
dtype: object